/* CSS Document */
body {
    margin: 0;
    font-family: sans-serif;
}

/* navbar */
.navbar h1 {
    float: left;
    color: #000000;
    margin: 15px 20px 0;
}
.nav-logo {
    float: left;
    height: 40px;
    margin: 13px 20px 0 20px;
}
.navbar {
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 10px #bbbbbb;
	z-index: 1;
}
nav {
    display: table;
}
nav ul {
    display: table-row;
}
nav ul li {
    display: table-cell;
    padding: 25px 20px 20px;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom 0.25s, background .25s;
    font-weight: bold;
}
nav ul li:hover {
    border-bottom-color: #01CACD;
    background: #F4F4F4;
}
a {
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: #01CACD;
}

/* collapse navbar */
.collapse-navbar {
    display: none;
}
.dropdown-btn {
    float: right;
    display: none;
    height: 40px;
    width: 50px;
    margin: 13px 20px;
}
.dropdown-btn:hover {
    cursor: pointer;
}
.nav-dropdown {
    position: fixed;
    display: none;
    background: #ffffff;
    width: 100%;
    top: 50px;
    left: 0;
}

@media screen and (max-width: 900px) {
    .collapse-navbar, .dropdown-btn {
        display: initial;
    }
    .expand-navbar {
        display: none;
    }
}